<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FijiApp"
        tools:targetApi="33"
        android:enableOnBackInvokedCallback="true">
        <activity
            android:name=".activity.LandingPageActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".activity.EventActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".activity.event.EventTypeAddActivity"
            android:exported="false" />
        <activity
            android:name=".activity.event.EventTypeEditActivity"
            android:exported="false" />
        <activity
            android:name=".activity.category.SubCategoryEditActivity"
            android:exported="false"
            android:theme="@style/Theme.FijiApp" />
        <activity
            android:name=".activity.category.CategoryEditActivity"
            android:exported="false"
            android:theme="@style/Theme.FijiApp" />
        <activity
            android:name=".activity.category.CategoryAddActivity"
            android:exported="false"
            android:theme="@style/Theme.FijiApp" />
        <activity
            android:name=".activity.StaffCalendarActivity"
            android:exported="false" />
        <activity
            android:name=".activity.StaffRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.StaffDetailActivity"
            android:exported="false" />
        <activity


            android:name=".activity.ServiceActivity" />
        <activity

            android:name=".activity.ProductsActivity"

            android:exported="false"
            android:theme="@style/Theme.FijiApp" />
        <activity android:name=".activity.CreateProductActivity" />
        <activity

            android:name=".activity.OwnerActivity"
            android:exported="false"
            android:theme="@style/Theme.FijiApp" />
        <activity
            android:name=".activity.register.ServiceProviderRegistrationActivity"
            android:exported="false"
            android:theme="@style/Theme.FijiApp" />
        <activity
            android:name=".activity.register.EventOrganizerRegistrationActivity"
            android:exported="false"
            android:theme="@style/Theme.FijiApp" />
        <activity
            android:name=".activity.register.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.FijiApp" />
        <activity
            android:name=".activity.login.LoginActivity"



            android:exported="true"
            android:theme="@style/Theme.FijiApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.category.CategoryManagementAdminActivity"
            android:exported="false"
            android:theme="@style/Theme.FijiApp" />

        <activity android:name=".activity.CreateServiceActivity"/>
        <activity
            android:name=".activity.event.EventTypeManagementActivity"
            android:exported="true"
            android:theme="@style/Theme.FijiApp">
        </activity>
        <activity android:name=".activity.PackageActivity"/>
        <activity android:name=".activity.UpdateProductActivity"/>
        <activity android:name=".activity.UpdateServiceActivity"/>
        <activity android:name=".activity.CreatePackageActivity"/>

        <activity android:name=".activity.UpdatePackageActivity"/>
        <activity android:name=".activity.MainActivity">
        </activity>

    </application>

</manifest>